@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
.typewriter {
  display: inline-block;
  overflow: hidden;
  border-right: 0.1em solid pink;
  white-space: nowrap;

  animation: typing 2s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: pink }
}

@media (max-width: 640px) {
  .typewriter {
    font-size: 1rem;
    line-height: 2rem;
  }
}
@keyframes kaydir {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }

/* animasyonlu metin öğesini stilize et */
.kayan-yazi {
    animation-name: kaydir;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-family: 'VT323', monospace;
    width : 50%
  }
  body {
  background-image: url('/body.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
